@model RegisterViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="content-wrapper"id="changePasswordModal" tabindex="-1" >
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">@ResourceWeb.lbbtnChangePassword</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="ChangePassword" asp-controller="Accounts" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="ChangePassword.Id" id="userPassId" />

                        <label asp-for="ChangePassword.NewPassword" class="control-lable">@ResourceWeb.lbPassword</label>
                        <input type="password" class="form-control" asp-for="ChangePassword.NewPassword" />
                        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChangePassword.ComparePassword" class="control-lable">@ResourceWeb.lbComparePassword</label>
                        <input type="password" class="form-control" asp-for="ChangePassword.ComparePassword" />
                        <span asp-validation-for="ChangePassword.ComparePassword" class="text-danger"></span>
                    </div>
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@ResourceWeb.lbbtnSave" id="btnSave" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
